# --- MinIO ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=file-transfer

# --- Redis (BullMQ) ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- Base de données (Prisma Postgres hébergé) ---
DATABASE_URL=

# --- App ---
FILE_EXPIRATION_DEFAULT_DAYS=7